<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs') %>
        <link rel="stylesheet" href="/css/auth.css" />
        <title>
            <%= pageTitle%>
        </title>
</head>

<body>
    <div class="wrapper">
        <%- include('../includes/nav.ejs') %>

            <div class="p-2">
                <div class="mb-4">
                    <h1 class="text-2xl">Activate Your Account </h1>
                </div>

                <form action="/activate" method="post">
                    <%- include('../includes/message.ejs') %>
                        <div class="form-group">
                            <label for="pin" class="text-sm">
                                Add You Pin Code Here
                            </label>
                            <input type="text" class="form-control" name="pin" id="pin">
                        </div>
                        <button class="btn btn-success my-2">
                            Activate
                        </button>
                </form>
            </div>
            </form>

    </div>

    <%- include('../includes/end.ejs') %>

</body>

</html>