<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <%- include('../includes/head.ejs') %>
    <%- include('../includes/public_styles.ejs') %>

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/auth.css" />
    <title> <%= pageTitle %></title>
    <!-- CSS here -->

</head>

<body>

    <%- include('../includes/public_nav.ejs') %>
    <div class="wrapper" style="padding-top: 100px;">
        <main>
            <!--? Hero Start -->
            <div class="slider-area">
                <div class="slider-height2 d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-cap hero-cap2 text-center">
                                    <h2>سياستنا</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero End -->
            <!-- About Details Start -->
            <div class="about-details section-padding30">
                <h4>سياسه العمل</h4>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="about-details-cap mb-50">
                                <ol>
                                    <li> الحضور بانتظام وفي حاله الغياب يتم المتابعه مع ولي الأمر بالطرق الحديثه </li>
                                    <li>الواجب إجباري يتم تسليمه قبل الحضور بكل محاضره والتواصل مع ولي الأمر </li>
                                    <li>امتحانات دوريه إجباريه وإبلاغ ولي الأمر بالدرجات إلكترونياً كل محاضره </li>
                                    <li>امتحان شامل علي كل فصل وتكريم الطلاب المتفوقين بجوائز قيمه </li>
                                    <li>شرح مفصل ومبسط ومصور للمنهج بأحدث الأساليب التكنولوجية الحديثه</li>
                                    <li>التواصل مع ولي الأمر عن طريق رسائل واتس اب بشكل دوري لمتابعه مستوي الطلاب</li>
                                </ol>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- About Details End -->

        </main>
    </div>
    <%- include('../includes/public_footer.ejs') %>

    <!-- JS here -->
    <%- include('../includes/public_scripts.ejs') %>

</body>

</html>